absl-py
arabic-reshaper
asgiref
astunparse
cachetools
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-heroku
djangorestframework
et-xmlfile
flatbuffers
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
html5lib
idna
importlib-metadata
joblib
jsonfield
keras
libclang
Markdown
# mysqlclient
mysqlclient==2.1.0
numpy
oauthlib
openpyxl
opt-einsum
pandas
Pillow
protobuf
# psycopg2-binary==2.9.1
pyasn1
pyasn1-modules
python-bidi
python-dateutil
pytz
reportlab
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
scikit-learn
sqlparse
tensorflow
termcolor
tf-estimator-nightly
threadpoolctl
typing_extensions
urllib3
webencodings
Werkzeug
whitenoise
wincertstore
wrapt
xhtml2pdf
zipp
nltk
gensim
matplotlib
seaborn
